<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Single page web app using Angularjs</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script>
  $(document).ready(function(){

    $.get("http://dc390926.ngrok.io/getQIds", function( arrData ) {
      //console.log("In get");

      //console.log(typeof Array.from(data));
      //console.log("********* " + JSON.parse(data));


      let htmlText = "";
      for (let i = 0 ; i< arrData.length; i++) {
        $.ajax({
          type: 'GET',
          url: "http://dc390926.ngrok.io/questions/" + arrData[i]._id,
          async:false
        }).done(function(qData) {


          htmlText = htmlText.concat('<form id="frmQuestions" onSubmit="return myFunction();">');
          htmlText = htmlText.concat('<div class="form-check form-check-inline">');
          htmlText = htmlText.concat('<label class="form-check-label questionText" id=' +qData._id +'>' + qData.questionText + '</label>');
          let i = 0;
          if (qData.questionType === "M") {
            qData.options.forEach(function(item){
              htmlText = htmlText.concat('<input class="form-check-input" type="radio" name="inlineRadioOptions' + qData._id + '"' + item.optionText+'">');
              htmlText = htmlText.concat('<label class="form-check-label" for="inlineRadio'.concat(String(qData._id)).concat('">' + item.optionText + '</label>'));

              i++;
            })
          }
          else {

            htmlText = htmlText.concat('<input class="form-check-input" type="text" id="inlineText"' + i + '/>');

          }

          htmlText = htmlText.concat('</div>');


        }).error(function(xhr,textStatus,err) {
          console.log("readyState: " + xhr.readyState);
          console.log("responseText: "+ xhr.responseText);
          console.log("status: " + xhr.status);
          console.log("text status: " + textStatus);
          console.log("error: " + err);
        });
        // $.get( "https://cors.io/?http://7a82413e.ngrok.io/questions/" + arrData[i]._id, function( qData ) {
        //   //console.log(qData);
        //
        //   htmlText += "<p>" +JSON.parse(qData).questionText + "</p>";
        //   console.log("htmlText " + htmlText);
        //   console.log(JSON.parse(qData)['questionText']);
        //
        // });

      }
      //console.log("******" + htmlText);
      htmlText = htmlText.concat('<label class="form-check-label" id="userId">Enter your email ID</label>');
      htmlText = htmlText.concat('<input class="form-check-input" type="text" id="emailId" required /> <br/>');
      htmlText = htmlText.concat('<button type="submit" class="btn btn-info"  id="btnSubmit">Submit</button>');
      htmlText = htmlText.concat('<button type="button" class="btn btn-info" id="btnReset">Reset</button>');
      htmlText = htmlText.concat('</form>');
      document.getElementById("questionList").innerHTML =htmlText ;
      //$( "#questionList" ).html( htmlText );

    })

  });



  </script>
  <script>
  function myFunction() {

    var  qList= document.getElementsByClassName("questionText");

    var qAndA = new Array();
    for (var i = 0; i < qList.length; i++) {
      //console.log(qList[i].id); //second console output
      var obj = {};
      var rGroupNm = 'inlineRadioOptions' + qList[i].id;

      var radios = document.getElementsByName(rGroupNm);

      obj.qID = qList[i].id;
      //console.log("A " +radios.length);

      var radios = document.forms.frmQuestions.elements[rGroupNm];

      try {
      console.log(radios.length);
        if (radios != undefined) {
          for(var j = 0; j < radios.length; j++ ) {
            if( radios[j].checked) {
                obj.answer = radios[j].value;
                break;
             }
          }
        }
      }
      catch (err) {
        console.log(err);
      }

      qAndA.push(obj);
    }
    var userId = document.getElementById("emailId").value;
    console.log(qAndA);
    var answerList = {userId : userId, qAndA : qAndA};
    console.log(answerList);
    // try {
    // console.log(JSON.parse(answerList));
    // }
    // catch(err) {
    //   console.log(err.message);
    // }
    try {
      $.ajax({
          url : 'http://2b98bcc1.ngrok.io/query',
          type: 'POST',
          data : JSON.stringify(answerList),
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          async : true,
          success : handleReturnData()
      })
    }
    catch (error) {
      console.log(error.message);
    }
    return false;
  };

  function handleReturnData() {
    console.log("Callback called");
  }


  </script>

</head>

<body>
  <div>
    <div>
      <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/contact">Contact us</a></li>
        </ul>
      </nav>
    </div>
    <br/>

  <div id = "questionList">
  </div>


</body>
</html>
